# Credentials & Test data - NEVER commit
pass*
!passfile.example
cloudapi.json

# Build artifacts
v2t-replicate-edge
/cmd/v2t-replicate-edge

# Go
*.exe
*.test
*.out

# IDE
.idea/
.private/
.vscode/
*.swp
*.xml
*.txt
*.md
!README.md
!builds/
.DS_Store
