# VCD Authentication Credentials
# Passfile format for v2t-replicate-edge tool
# Lines starting with # are comments

host=https://hht-lab-vcd-01.cloud.lab
username=nghialt
password=abc123!@#
org=System
